a{color:#00BFFF}
.hr{border-top:1px solid #00BFFF}
#welcome .h1{background-color:#00BFFF; font-size: 62px; line-height: 80px;}
#welcome .lead{background-color:#00BFFF}
.scrolldown .local{color:#00BFFF}
.navbar{border-top:1px solid #00BFFF; border-bottom:1px solid #00BFFF}
.navbar-default .navbar-nav >li >a{color:#00BFFF}
.brick:hover{background-color:#00BFFF}
.og-expander-inner{background-color:#00BFFF}
.og-grid li.og-expanded >a::after{border-bottom-color:#00BFFF}
.og-details a{color:#00BFFF; border:3px solid #00BFFF}
.progress-bar-info{background-color:#00BFFF}
.team-social li a{color:#00BFFF; border:1px solid #00BFFF}
.team-social li a:hover{background:#00BFFF}
.testimonial-box{background-color:rgba(0, 191, 255, 0.21)}
#contact{border-top:1px solid #00BFFF}
.btn-info{background-color:#00BFFF; border-color:#00BFFF}
.social li a{color:#00BFFF; border:1px solid #00BFFF}
.social li a:hover{background:#00BFFF}
.article:after{border-bottom:1px solid #00BFFF}
.article .article-footer a{background-color:#00BFFF}
.widget_search input[type=text]{border:1px solid #00BFFF}
.widget_tag_cloud .tagcloud a{background-color:#00BFFF}
.required{color:#00BFFF}
#footer{border-top:1px solid #00BFFF}